@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  font-size: 12px;
}

body{
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 12px;
  background-color: #f9f9f6;
  user-select: none;
  overflow-x: hidden;
  color: #363949;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th{
  background-color: rgb(248, 226, 31);
  border: 1px solid black;
  padding: 0.8rem;
}

td{
  padding: 0.8rem;
  border: 1px solid black
}

tr td:first-child{
  text-align: center;
}

p{
  color: #677483;
}

a{
  color: black;
}

img{
  display: block;
  width: 100%;
  margin: auto;
}

h1{
  font-weight: 800;
  font-style: bold;
  font-size: 2rem;
}

h2{
  font-size: 1.4rem;
}

h3{
  font-size: 0.87rem;
}

.name{
  margin: auto;
}

.container{
  display: grid;
  margin: 0 auto;
  width: 98%;
  gap: 30px;
  grid-template-columns: 16rem auto 0rem;
}

aside{
  height: 100vh;
  background: #bb2222;
  position: sticky;
  top: 0;
  left: 2rem;
}

aside h3{
  font-weight: 500;
}

.top{
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.4rem;
}

.logo{
  display: grid;
  padding: 10px;
}
.logo img{
  width: 7rem;
  height: 7rem;
  margin-left: 1rem;
}

.sidebar {
    background: #bb2222;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 1rem;
}

.sidebar a {
    display: flex;
    color: #ffffff;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

.sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

.sidebar .menu-item.active {
  background: white;
  color: black;
  margin-left: 1rem;
}

.sidebar .menu-item .active:before {
  content: '';
  width: 6px;
  height: 100%;
  background: #bb2222;
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar a:hover,
.sidebar a.menu-item .active {
    color: #bb2222;
    background: white;
    color: black;
    margin-left: 1rem;
}

.sidebar a:hover span {
    margin-left: 1rem;
    color: #bb2222;
}


main{
  margin-top: 1.4rem;
}

.bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.filter-wrap{
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 16px;
}

.filter{
  width: 48%;
  height: 100%;
}

.filter input,
.filter select{
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 4px;
}

.insights{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem; 
}

main .insights > div{
background: white;
border-radius: 2rem;
padding: 1.5rem;
margin-top: 1rem;
box-shadow: 0 2rem 2rem rgba(132, 139, 200, 0.18);
transition: all 300ms ease;
}

main .insights > div:hover{
  box-shadow: none;
} 

main .insights > div span{
  background: #bb2222;
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
  font-size: 1.8rem;
}


.footer {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  background-color: #444;
  color: #fff;
}

.chart{
  width: 100%;
  min-height: 500px;
  background-color: white;
  margin-top: 32px;
  margin-bottom: 32px;
  box-shadow: 0 2rem 2rem rgba(132, 139, 200, 0.18);
  border-radius: 1rem;
  padding: 2rem;
}

#chartGrowth, 
#chartCategory,
#chartSize {
  max-width: 100%;
  height: auto;
}

/* Style for member cards */
.member-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.member-card .card {
  width: calc(25% - 15px); /* 25% untuk 1 kotak di baris pertama, dikurangi 15px gap */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.member-card .card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.member-card .card h3 {
  margin: 5px 0;
}

.member-card .card p {
  margin: 5px 0;
  font-style: italic;
}

/* Set jumlah kartu per baris */
@media (max-width: 768px) {
  .member-card .card {
      width: calc(33.33% - 10px); /* 33.33% untuk 3 kotak di baris selanjutnya, dikurangi 10px gap */
  }
}
